%h1 Gallery

#myCarousel.carousel.slide
  / Carousel items
  .carousel-inner
    = render :partial => "item", :collection => @pictures, :as => :picture
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
